# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
apps/mobile/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
apps/mobile/android/app/debug
apps/mobile/android/app/profile
apps/mobile/android/app/release
apps/mobile/android/app/.cxx

# fvm
.fvm/

# settings.json
.vscode/settings.json

**/ios/Flutter/Dart-Defines.xcconfig
**/ios/Runner/GoogleService-Info.plist
**/android/app/google-services.json

# secrets
**/*.p8

# Node.js
node_modules/
apps/server/dist/

# NestJS
apps/server/.env
